DISCORD_TOKEN=""
PORT=""
SITE_URL=""
ADMIN_SERVER_ID=""
ADMIN_CHANNEL_ID=""
SESSION_SECRET="#"
MONGO_URI="mongodb://mongo:27017/discord_bot"
DOMAIN="https://skyvps360.xyz/plans"
ADMIN_USER_ID="" # Discord User ID of the admin
DISCORD_CLIENT_ID="" # Discord OAuth2 Client ID
DISCORD_CLIENT_SECRET="" # Discord OAuth2 Client Secret
BOT_OWNER_IDS="" # Comma-separated Discord user IDs (e.g. "142025929454125056")
PRIORITY_SERVER_ID=""
