DISCORD_TOKEN="YOUR_BOTS_TOKEN"
MONGO_URI="GETFREE_FROM_RAILWAY.APP-OR-mongodb.com"
APPROVAL_CHANNEL_ID="ApprovalChannelID"
PRIORITY_GUILD_ID="YourGUILDID"
PORT="PORT"
SITE_URL="your domain with http:// or https:// no trailing /"
ADMIN_SERVER_ID="sameAS PRIORITY_GUILD_ID"
ADMIN_CHANNEL_ID="ADMIN_CHANNEL"
