DISCORD_TOKEN=""
APPROVAL_CHANNEL_ID=""
PRIORITY_GUILD_ID=""
PORT=""
SITE_URL=""
ADMIN_SERVER_ID=""
ADMIN_CHANNEL_ID=""
SESSION_SECRET="#"
MONGO_URI="MONGO_URI=mongodb://mongo:27017/discord_bot"
DOMAIN="https://skyvps360.xyz/plans"